<ul class="unstyled">

    <li>
        <select class="input-small"
                ng-model="param.nesting"
                ng-options="nestingValue as nestingType for (nestingType, nestingValue) in param.type.nesting"
                ng-change="updateApiCall()">
        </select>
    </li>

    <li ng-repeat="p in param.parse">
        <div class="input-append">
            <select class="input-medium"
                    ng-model="p.selectField"
                    ng-options="field.name for field in displayCtrl.fields"
                    ng-change="updateApiCall()">
            </select>

            <select class="input-mini"
                    ng-model="p.selectOperator"
                    ng-options="operator.value as operator.name for operator in param.type.operators"
                    ng-change="updateApiCall()">
            </select>

            <input class="input-medium"
                   type="text"
                   ng-model="p.selectValue"
                   placeholder="{{ p.selectField.description }}"
                   ng-change="updateApiCall()">

            <button class="btn"
                    type="button"
                    ng-click="param.parse.splice($index, 1)">
                <i class="icon-trash"></i>
            </button>
        </div>
    <li>

    <li>
        <button class="btn"
                 type="button"
                 ng-click="addFilterField(param.parse)">
            <i class="icon-plus"></i> Add
        </button>
    </li>
    
</ul>
