<input type="text"
       class="search-query"
       ng-model="searchQuery"
       placeholder="Search">

<div ng-controller="SideBarController">
    <accordion class="side-bar" close-others="false">
        <accordion-group heading="{{controller.controllerName}}" ng-repeat="controller in ctrlrs | hasMethodFilter: searchQuery">
            <p class="in" ng-repeat="method in controller.methods | filter: searchQuery">
                <a href="#/controller/{{ controller.controllerName }}/method/{{ method }}">{{ method }}</a>
            </p>
        </accordion-group>
    </accordion>
</div>
