<div ng-controller="SideBarController">
    <input type="text"
       class="search-query"
       ng-model="searchQuery"
       ng-change="update()"
       placeholder="Search">
    <accordion class="side-bar" close-others="false">
        <accordion-group isOpen="false" heading="{{controller.controllerName}} ({{controller.methods.length}})" ng-repeat="controller in ctrlrs | hasMethodFilter: searchQuery">
            <p ng-repeat="method in controller.methods | filter: searchQuery">
                <a href="#/controller/{{ controller.controllerName }}/method/{{ method }}">{{ method }}</a>
            </p>
        </accordion-group>
    </accordion>
</div>
