[class*="div"] {
    float: left;
    margin-left: 20px;
}
.div3 {
    width: 300px;
}
.div9 {
    width: 300px;
}
div {
    display: block;
}
input.search-query {
    margin-bottom: 10px;
}
dt {
	font-size: 16px;
	border-bottom: 1px solid #ccc;
	margin: 20px 0 10px;
}
dd {
    margin-left: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	vertical-align: text-bottom;
	margin-right: 3px;
}
body {
	font-size: 13px;
  padding-top: 60px;
}

.nav li {
  border-left: 1px solid #ccc;
}

.nav li:last-child {
  border-right: 1px solid #ccc;
}

.nav li a {
  line-height: 35px;
}

.nav li li {
  border-width: 0;
}

.nav li a i:first-child {
  display: inline-block;
  font-size: 1.3em !important;
  margin-top: -.2em;
  vertical-align: middle;
}

.nav .api-health {
  color: white !important;
  opacity: .9;
  text-shadow: black 0px 1px 0px !important;
}

.nav .api-health:hover {
  opacity: 1;
}

.nav .api-health.up,
.nav .api-health.up:hover {
  background-color: #46a546;
}

.nav .api-health.down,
.nav .api-health.down:hover {
  background-color: #f89406;
}

.header input.search-query {
	margin-top: 3px;
}
.breadcrumb .divider {
	float: none;
	margin-left: 0;
}
.network-token .add-on, .network-id .add-on {
	width: 100px;
	text-align: left;
}
.network-token .input-medium, .network-id .input-medium {
	width: 495px;
}
.btn-mini.sm, .pull-right.sm {
	font-size: 9px;
	line-height: 14px;
	vertical-align: top;
}
.params table th {
	text-align: left;
}

/* fix bootstrap */
.btn-group > .btn-mini.btn:first-child {
    border-radius: 3px;
}
.btn-group {
	vertical-align: top;
}
.input-append *:nth-child(2) {
    border-radius: 0;
}

.sidebar-wrap {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
}

.sidebar-wrap .btn-group {
  margin: 0 0 20px;
}

.sidebar-wrap .btn {
  padding: 6px;
}
 
.sidebar-nav-fixed {
    background-position:fixed;
    position:absolute;
    top:0px;
    right:0px;
    border:0px;
}

.side-bar .heading a
{
    font-weight:bold;
    color:#333;
    text-decoration:none;
    cursor: pointer;
}

.side-bar ul
{
    list-style-type: none;
    margin-left:0;
}
.side-bar ul li.body
{
    margin-left: 10px;
}
.side-bar ul li.heading
{
    margin-bottom:5px;
}

.loading:after {
  content: 'Loading...';
}
