<dt>API Builder:</dt>
<dd>

        <div class="input-prepend network-token" ng-show="apiCategory == apiCategories.brand.shortName">
            <span class="add-on">
                <abbr title="Is Required">NetworkToken</abbr>
            </span>
            <input type="text"
                   class="input-large"
                   placeholder="NETaaaaBBBBcccc123456789"
                   ng-model="displayedMethod.networkToken"
                   ng-change="updateApiCall()">
        </div>
        <div class="input-prepend affiliate-key" ng-show="apiCategory == apiCategories.affiliate.shortName">
            <span class="add-on">
                <abbr title="Is Required">AffiliateKey</abbr>
            </span>
            <input type="text"
                   class="input-large"
                   placeholder="AFFaaaaBBBBcccc123456789"
                   ng-model="displayedMethod.affiliateKey"
                   ng-change="updateApiCall()">
        </div>
        <div class="input-prepend network-id">
            <span class="add-on">
                <abbr title="Is Required">NetworkId</abbr>
            </span>
            <input type="text"
                   class="input-large"
                   placeholder="demo"
                   ng-model="displayedMethod.networkId"
                   ng-change="updateApiCall()">
        </div>

    <table class="table table-bordered">
        <tbody>
            <tr ng-repeat="param in apiParams">
                <td>
                    <strong>{{param.value.name}}</strong>
                    <em>({{param.value.type}})</em>
                    <button class="btn btn-mini"
                            type="button"
                            ng-hide="hideTrashButton(param)"
                            ng-click="apiParams.splice($index, 1);updateApiCall()">
                        <i class="icon-trash"></i>
                    </button>
                </td>

                <td ng-include="param.type.template">
                </td>
            </tr>
        </tbody>
    </table>
</dd>

<dd>
    <pre ng-bind="apiCall"></pre>

    <buttton class="btn btn-primary"
             type="button"
             ng-click="runApiCall()">
        Run
    </buttton>
</dd>

<dt>API Response</dt>
<dd>
    <pre ng-bind="apiResponse" ng-class="{'alert error': apiError, 'loading' : responseLoading}"></pre>
</dd>

<div ng-controller="DisqusController" id="disqus_thread"></div>
